<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
    <a class="anchor" href="#">ABC Company</a>
    </div>
    <div>
      <a class="right"  routerLink="admin" routerLinkActive="active">admin</a>
      <a class="right"  routerLink="register" routerLinkActive="active">SignUp</a>
      <a class="right"  routerLink="login" routerLinkActive="active">Login</a>
      <a class="right"  routerLink="cart" routerLinkActive="active">Cart</a>
    </div>
  </nav>
<router-outlet></router-outlet>
 
