
.navbar a.anchor{
    text-decoration: none;
    float:"left";
    color: white;
    font-weight: bold;
   
  }
a.right{
    padding: 0.5px;
    margin:3px;
    color: aliceblue;
    text-decoration: none;
  
  }